@import 'mixins/mixin'; // Fonts
// Import files
@import 'variables/variables';
@import 'core/fonts';
@import "../fonts/icon/style.css";
@import 'core/reset';
@import 'core/template';
@import 'core/preloader';
@import 'core/play';
@import 'core/widget';
@import 'core/messenger';

@import 'core/header';
@import 'core/navbar';

@import 'sections/head';
@import 'core/miniCards';

@import 'sections/cards';
@import 'sections/information';
@import 'sections/team';
@import 'sections/doctor';
@import 'sections/instruction';
@import 'sections/services';
@import 'sections/payment';
@import 'sections/advantages';
@import 'sections/location';
@import 'sections/feedback';
@import 'sections/reviews';
@import 'sections/reviewsVideo';
@import 'sections/reviewsCompany';
@import 'sections/responses';
@import 'sections/blog';
@import 'sections/singup';
@import 'sections/networks';
@import 'sections/work';
@import 'sections/price';
@import 'sections/contacts';
@import 'sections/map';

@import 'sections/thanks';
@import 'sections/notfound';
@import 'sections/videoLg';
@import 'sections/problems';
@import 'sections/do';
@import 'sections/stages';
@import 'sections/doc';

@import 'sections/content';

@import 'core/footer';

@import 'core/form';

@import 'core/breadcrumb';

@import 'core/pagination';

@import 'core/buttons';

@import 'core/collapse';
@import 'core/tabs';
@import 'core/filter';
@import 'core/sidebar';

@import 'vendor/modal';
@import 'vendor/swiper';
@import 'vendor/fancybox';

@import 'sections/quiz';

.projectNaw {
    ul {
        list-style: none;
    }

    li {
        margin-bottom: 0.5em;
    }

    a {
        text-decoration: none;
        color: $color_info;
        font-weight: 500;
    }
}
