extends ../../layout/layout.pug

block variable
    -var path = '../../';

    //- path +"img/head_main.png"


block content

    // begin breadcrumbs
    section#breadcrumbs.breadcrumbs.section
        .container_center
            .breadcrumbs__content

                .kama_breadcrumbs
                    span
                        a(href="#")
                            span Главная
                    span.kb_sep 

                    span.kb_title Цены
    // end breadcrumbs

    // begin price
    section#price.price.section
        .container_center
            h1.section__title <b>Цены на лечение в стоматологии Furor</b>
            .section__desc Никаких переплат и скрытых платежей, цены фиксированные и прописываются в договоре

            .priceTabs__content
                .priceTabs__row
                    .priceTabs__col
                        .priceTabs__label
                            span Восстановить зуб
                            .priceTabs__toggle.mobile
                                i.icon_caret_bottom
                        ul.priceTabs__menu.list

                            li.priceTabs__item
                                span.priceTabs__link.active(data-tab="#plate-1") Имплантация зубов
                            each item in [ {id: '2', link: 'Реставрация зубов'},  {id: '3', link: 'Коронки'},  {id: '4', link: 'Протезирование зубов'} ]
                                li.priceTabs__item
                                    span.priceTabs__link(data-tab="#plate-"+item.id+"")=item.link

                    .priceTabs__col
                        .priceTabs__label
                            span Вставить все зубы
                            .priceTabs__toggle.mobile
                                i.icon_caret_bottom
                        ul.priceTabs__menu.list
                            each item in [ {id: '5', link: 'Все-на-4'},  {id: '6', link: 'Несъемные протезы'},  {id: '7', link: 'Съемные зубные протезы'} ]
                                li.priceTabs__item
                                    span.priceTabs__link(data-tab="#plate-"+item.id+"")=item.link

                    .priceTabs__col
                        .priceTabs__label
                            span Вылечить зубы
                            .priceTabs__toggle.mobile
                                i.icon_caret_bottom

                    .priceTabs__col
                        .priceTabs__label
                            span Красивая улыбка
                            .priceTabs__toggle.mobile
                                i.icon_caret_bottom




                .priceTabContent#priceTabContent
                    .priceTabContent__item.active(id="plate-1")
                        .priceTabContent__link
                            a.snakeline(href="#") Перейти в раздел: Имплантация зубов

                        .price__list
                            include ../../parts/priceItemSell.pug
                            include ../../parts/priceItem.pug
                            each item in ['', '', '', ]
                                include ../../parts/priceItem.pug




                    each item in [ {id: '2', link: 'Перейти в раздел: Реставрация зубов'},  {id: '3', link: 'Коронки'},  {id: '4', link: 'Перейти в раздел: Протезирование зубов'},{id: '5', link: 'Все-на-4'},  {id: '6', link: 'Перейти в раздел: Несъемные протезы'},  {id: '7', link: 'Перейти в раздел: Съемные зубные протезы'} ]

                        .priceTabContent__item(id="plate-"+item.id+"")

                            .priceTabContent__link
                                a.snakeline(href="#")=item.link

                            .price__list
                                include ../../parts/priceItemSell.pug
                                include ../../parts/priceItem.pug

                                //- each item in ['', '', '', ]
                                //-     include ../../parts/priceItem.pug





    // end price

    include ../../sections/payment.pug

    include ../../sections/singup.pug

    include ../../sections/content.pug
