.location {

    @media (max-width: 767px) {
        overflow: hidden;
    }

    &__tabs {
        margin-top: 0.75em;
        @media (min-width: 768px) {
            margin-top: 3.125em;
        }
    }

    &__item {}

    &__row {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {
        position: relative;
        overflow: hidden;

        border-radius: 0.625em;

        &:last-child {
            &:after {
                content: '\e90b';
                font-family: 'icon';

                position: absolute;

                color: $color_white;

                font-size: 2.813em;
                bottom: 0.3334em;
                right: 0.3334em;
                @media (min-width: 768px) {
                    font-size: 5.25em;
                    bottom: 0.572em;
                    right: 0.655em;

                }
            }
        }

        @media (max-width: 767px) {
            margin-top: 0.875em;

            &:first-child {
                margin-top: 0;
                height: 10.375em;

                .btn {
                    min-height: 2.5em;
                }
            }

            &:last-child {
                height: 11.875em;

            }
        }

        @media (min-width: 768px) {
            border-radius: 3.125em;
            height: 31.75em;

            width: 52.8125em;
        }
    }

    &__img {}

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        color: $color_white;

        padding: 0.9375em;
        background: linear-gradient(32deg, rgba(0, 0, 0, 0.60) 32.91%, rgba(0, 0, 0, 0.00) 68.7%);
        @media (min-width: 768px) {
            padding: 2.625em 3.125em 3em;
            background: linear-gradient(23deg, rgba(0, 0, 0, 0.60) 30.27%, rgba(0, 0, 0, 0.00) 60.71%);
        }

    }

    &__tour {
        span {
            display: block;
            font-weight: 500;
            width: 15em;
            font-size: 0.75em;
            @media (min-width: 768px) {
                line-height: 1.3;
                font-size: 1.375em;

            }
        }

        .btn {
            margin-top: 0.375em;
            @media (min-width: 768px) {
                margin-top: 1.3125em;

            }
        }
    }

    &__metro {
        span {
            display: block;

            &:first-child {
                font-weight: 700;
                font-size: 0.75em;
                line-height: 1.25;
                @media (min-width: 768px) {
                    font-size: 2em;
                }
            }

            &:last-child {
                font-weight: 500;
                line-height: 1.3;
                margin-top: 0.75em;
                font-size: 0.5em;
                width: 22em;
                @media (min-width: 768px) {
                    font-size: 1.375em;
                    width: 15em;

                }
            }
        }
    }

    &__play {
        font-size: 0.4em;
        @media (min-width: 768px) {
            font-size: 1em;
        }
    }

    &__slider {
        margin-top: 0.75em;
        @media (min-width: 768px) {
            margin-top: 3.125em;

            display: flex;
            flex-direction: column-reverse;
        }

        @media (max-width: 767px) {

            overflow: visible;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;

                width: 1.375em;
                height: 100%;
                background-color: $color_white;
                z-index: 2;
            }

            &:before {
                left: 100%;
            }

            &:after {
                right: 100%;
            }
        }

        .swiper-arrows {
            @media (max-width: 767px) {
                position: absolute;
                top: 7em;
                left: -1.563em;
                width: 24.688em;
                z-index: 3;
            }
        }

    }

    &__slide {
        overflow: hidden;
        border-radius: 0.625em;
        height: 5em;
        @media (min-width: 768px) {
            border-radius: 3.125em;
            height: 18.75em;
        }
    }

    &__naw {
        margin-top: 2.125em;
        margin-bottom: 0.75em;
        @media (min-width: 768px) {
            margin-top: 3.125em;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_col {
            &:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (min-width: 768px) {
                    width: 40em;
                }
            }
        }
    }

}
