.reviews {
    &__list {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: minmax(31.875em, auto);
            grid-gap: 2.125em;

        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 1px solid $color_primary;

        border-radius: 1.25em;
        padding: 1.5em;
        font-size: 0.5em;
        margin-bottom: 1.25em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            font-size: 1em;
            border-radius: 3.125em;
            padding: 3.4375em;
            margin-bottom: 0;
        }
    }

    &__header {
        span {
            font-size: 2em;
            font-weight: 700;
            line-height: 1.4;
        }
    }

    &__main {
        position: relative;
        margin: 3em 0 2em;

        &:before {
            content: '\e919';
            font-family: 'icon';

            position: absolute;
            top: -2em;
            left: 0;
            color: #B5D4C4;
        }

        span {
            color: #4C5355;
            font-size: 1.125em;
            font-style: italic;
            line-height: 1.3334;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__info {}

    &__name {
        font-size: 1.25em;
        font-weight: 700;
    }

    &__date {
        color: #4C5355;
        font-size: 1.125em;
        margin-top: 0.25em;
    }

    &__source {
        color: #4C5355;
        font-size: 1.125em;
        margin-top: 0.25em;

        a {
            font-size: 1em;
            color: $color_info;
            font-weight: 700;
        }

    }

    &__logo {
        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        &_zoon {
            width: 9.0625em;
        }

        &_doctor {
            width: 11.875em;
        }

        &_2gis {
            width: 6.8125em;
        }

        &_yandex {
            width: 7.625em;
        }

        &_google {
            width: 6.6875em;
        }

        &_logoy {
            width: 2.375em;
        }
    }

}
