extends ../../layout/layout.pug

block variable
    -var path = '../../';



block content
    // begin notfound
    section#notfound.notfound.section
        .container_center
            .notfound__img.img
                img(src="../../img/notfound.svg" alt="image" loading="lazy")
            h1.section__title <b>Ошибка 404</b>
            .section__desc К сожалению такой страницы на существует(
            .notfound__btn
                a.btn.btn_lg(href="#")
                    span Вернуться на главную

    // end notfound
