/* Global variables */
/* ======================================================================== */
$main_font_family: "Cera Pro";
$second_font_family: "Roboto Slab";
$main_color: #2A2A2A;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 110.875em;

$footer_height: auto;

// Color collection for elements
$color_white: #ffffff;
$color_black: #000000;

$color_success: #26966E;
$color_danger: #E85454;
$color_info: #517DC0;
$color_primary: #F1F1F1;

$color_warning: #fca33e;