{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1696879513252.454,
          "ctimeMs": 1696879513252.454,
          "date": "2023-10-09T19:25:32.648Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422000,
          "ctimeMs": 1694950414960.1033,
          "date": "2023-09-17T12:10:21.296Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1664980913000,
          "ctimeMs": 1694950414578.0093,
          "date": "2023-09-17T12:10:21.494Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1664980926000,
          "ctimeMs": 1694950414579.0798,
          "date": "2023-09-17T12:10:21.649Z"
        },
        {
          "file": "css/jquery-ui.css",
          "mtimeMs": 1648125542000,
          "ctimeMs": 1694950414580.0542,
          "date": "2023-09-17T12:10:21.799Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1696937159784.5037,
          "ctimeMs": 1696937159784.5037,
          "date": "2023-10-10T11:26:00.127Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1664980959000,
          "ctimeMs": 1694950414576.9856,
          "date": "2023-09-17T12:10:22.100Z"
        },
        {
          "file": "css/twentytwenty.css",
          "mtimeMs": 1664980964000,
          "ctimeMs": 1694950414582.0413,
          "date": "2023-09-17T12:10:22.295Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Black.eot",
          "mtimeMs": 1694950657000,
          "ctimeMs": 1694950689477.6123,
          "date": "2023-09-17T12:10:22.477Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Black.ttf",
          "mtimeMs": 1694950657000,
          "ctimeMs": 1694950689477.3936,
          "date": "2023-09-17T12:10:22.697Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Black.woff",
          "mtimeMs": 1694950657000,
          "ctimeMs": 1694950689477.684,
          "date": "2023-09-17T12:10:22.881Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Black.woff2",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.2876,
          "date": "2023-09-17T12:10:23.045Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Bold.eot",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.443,
          "date": "2023-09-17T12:10:23.292Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Bold.ttf",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.2412,
          "date": "2023-09-17T12:10:23.493Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Bold.woff",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.5374,
          "date": "2023-09-17T12:10:23.694Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Bold.woff2",
          "mtimeMs": 1694950659000,
          "ctimeMs": 1694950689477.3691,
          "date": "2023-09-17T12:10:23.862Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Light.eot",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.6443,
          "date": "2023-09-17T12:10:24.059Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Light.ttf",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.7356,
          "date": "2023-09-17T12:10:24.262Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Light.woff",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.5586,
          "date": "2023-09-17T12:10:24.444Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Light.woff2",
          "mtimeMs": 1694950658000,
          "ctimeMs": 1694950689477.5193,
          "date": "2023-09-17T12:10:24.645Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Medium.eot",
          "mtimeMs": 1694950659000,
          "ctimeMs": 1694950689477.3313,
          "date": "2023-09-17T12:10:24.842Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Medium.ttf",
          "mtimeMs": 1694950659000,
          "ctimeMs": 1694950689477.4963,
          "date": "2023-09-17T12:10:25.044Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Medium.woff",
          "mtimeMs": 1694950659000,
          "ctimeMs": 1694950689477.7925,
          "date": "2023-09-17T12:10:25.211Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Medium.woff2",
          "mtimeMs": 1694950659000,
          "ctimeMs": 1694950689477.4111,
          "date": "2023-09-17T12:10:25.394Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Regular.eot",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.3533,
          "date": "2023-09-17T12:10:25.609Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Regular.ttf",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.5774,
          "date": "2023-09-17T12:10:25.831Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Regular.woff",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.3098,
          "date": "2023-09-17T12:10:25.995Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Regular.woff2",
          "mtimeMs": 1694950661000,
          "ctimeMs": 1694950689477.668,
          "date": "2023-09-17T12:10:26.161Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Thin.eot",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.5925,
          "date": "2023-09-17T12:10:26.362Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Thin.ttf",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.426,
          "date": "2023-09-17T12:10:26.561Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Thin.woff",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.756,
          "date": "2023-09-17T12:10:26.728Z"
        },
        {
          "file": "fonts/CeraPro/CeraPro-Thin.woff2",
          "mtimeMs": 1694950660000,
          "ctimeMs": 1694950689477.2634,
          "date": "2023-09-17T12:10:26.913Z"
        },
        {
          "file": "fonts/CeraPro/demo.html",
          "mtimeMs": 1694950661000,
          "ctimeMs": 1694950689477.699,
          "date": "2023-09-17T12:10:27.067Z"
        },
        {
          "file": "fonts/CeraPro/stylesheet.css",
          "mtimeMs": 1694950661000,
          "ctimeMs": 1694950689477.6274,
          "date": "2023-09-17T12:10:27.229Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.6516,
          "date": "2023-10-03T14:16:12.167Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.6682,
          "date": "2023-10-03T14:16:12.496Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.634,
          "date": "2023-10-03T14:16:12.829Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1696936401495.6675,
          "ctimeMs": 1696936401495.6675,
          "date": "2023-10-10T11:13:21.801Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.5437,
          "date": "2023-10-03T14:16:13.468Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.562,
          "date": "2023-10-03T14:16:13.804Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1695035194713.8193,
          "ctimeMs": 1695035214809.2693,
          "date": "2023-09-22T16:25:29.881Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1664980693000,
          "ctimeMs": 1694950414816.425,
          "date": "2023-09-17T12:10:32.592Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1664980699000,
          "ctimeMs": 1694950414810.9731,
          "date": "2023-09-17T12:10:32.753Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666358151000,
          "ctimeMs": 1694950414820.386,
          "date": "2023-09-17T12:10:32.880Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1696937033893.3691,
          "ctimeMs": 1696937033893.3691,
          "date": "2023-10-10T11:23:54.236Z"
        },
        {
          "file": "js/jquery-ui-touch-punch.js",
          "mtimeMs": 1650617921000,
          "ctimeMs": 1694950414809.0564,
          "date": "2023-09-17T12:10:33.141Z"
        },
        {
          "file": "js/jquery-ui.min.js",
          "mtimeMs": 1648125439000,
          "ctimeMs": 1694950414804.0156,
          "date": "2023-09-17T12:10:33.377Z"
        },
        {
          "file": "js/jquery.event.move.js",
          "mtimeMs": 1664980717000,
          "ctimeMs": 1694950414807.2922,
          "date": "2023-09-17T12:10:33.532Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1691945856243.717,
          "ctimeMs": 1694950414826.466,
          "date": "2023-09-17T12:10:33.701Z"
        },
        {
          "file": "js/jquery.marquee.min.js",
          "mtimeMs": 1665566892000,
          "ctimeMs": 1694950414818.332,
          "date": "2023-09-17T12:10:33.813Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1664980725000,
          "ctimeMs": 1694950414812.9824,
          "date": "2023-09-17T12:10:33.946Z"
        },
        {
          "file": "js/jquery.twentytwenty.js",
          "mtimeMs": 1664980734000,
          "ctimeMs": 1694950414802.4636,
          "date": "2023-09-17T12:10:34.076Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1694950414824.303,
          "date": "2023-09-17T12:10:34.226Z"
        },
        {
          "file": "js/select2.min.js",
          "mtimeMs": 1696076203126.2083,
          "ctimeMs": 1696076203126.2083,
          "date": "2023-09-30T12:16:43.457Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1664980873000,
          "ctimeMs": 1694950414805.707,
          "date": "2023-09-17T12:10:34.676Z"
        },
        {
          "file": "layout/modal.html",
          "mtimeMs": 1679582720000,
          "ctimeMs": 1694950414854.75,
          "date": "2023-09-17T12:10:34.793Z"
        },
        {
          "file": "pages/contacts/index.html",
          "mtimeMs": 1696879512703.896,
          "ctimeMs": 1696879512703.896,
          "date": "2023-10-09T19:25:15.648Z"
        },
        {
          "file": "pages/home/index.html",
          "mtimeMs": 1696879513252.4153,
          "ctimeMs": 1696879513252.4153,
          "date": "2023-10-09T19:25:33.194Z"
        },
        {
          "file": "fonts/icon/fonts/icon.svg",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.7412,
          "date": "2023-10-03T13:54:00.865Z"
        },
        {
          "file": "img/head_main_m.png",
          "mtimeMs": 1695300584038.3022,
          "ctimeMs": 1695300585494.6887,
          "date": "2023-09-22T16:25:27.870Z"
        },
        {
          "file": "pages/service/index.html",
          "mtimeMs": 1696879513251.8242,
          "ctimeMs": 1696879513251.8242,
          "date": "2023-10-09T19:25:33.432Z"
        },
        {
          "file": "sections/cards_grid.html",
          "mtimeMs": 1695399728215.7068,
          "ctimeMs": 1695399728215.7068,
          "date": "2023-09-22T16:22:08.586Z"
        },
        {
          "file": "fonts/icon/fonts/icon.eot",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.7605,
          "date": "2023-10-03T14:16:14.146Z"
        },
        {
          "file": "fonts/icon/fonts/icon.ttf",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.7993,
          "date": "2023-10-03T14:16:14.485Z"
        },
        {
          "file": "fonts/icon/fonts/icon.woff",
          "mtimeMs": 1696341218000,
          "ctimeMs": 1696341231162.7812,
          "date": "2023-10-03T14:16:14.817Z"
        },
        {
          "file": "img/card_1.png",
          "mtimeMs": 1695314794399.4824,
          "ctimeMs": 1695314817118.2764,
          "date": "2023-09-22T16:22:52.093Z"
        },
        {
          "file": "img/card_10.png",
          "mtimeMs": 1695397191659.1812,
          "ctimeMs": 1695397233182.2854,
          "date": "2023-09-22T16:22:52.433Z"
        },
        {
          "file": "img/card_11.png",
          "mtimeMs": 1695397204194.57,
          "ctimeMs": 1695397233188.995,
          "date": "2023-09-22T16:22:52.635Z"
        },
        {
          "file": "img/card_12.png",
          "mtimeMs": 1695397212091.7952,
          "ctimeMs": 1695397233195.267,
          "date": "2023-09-22T16:22:53.156Z"
        },
        {
          "file": "img/card_13.png",
          "mtimeMs": 1695397219674.4785,
          "ctimeMs": 1695397233120.9834,
          "date": "2023-09-22T16:22:53.368Z"
        },
        {
          "file": "img/card_2.png",
          "mtimeMs": 1695314803251.5278,
          "ctimeMs": 1695397671298.728,
          "date": "2023-09-22T16:22:53.880Z"
        },
        {
          "file": "img/card_3.png",
          "mtimeMs": 1695397097862.4204,
          "ctimeMs": 1695397740462.1233,
          "date": "2023-09-22T16:22:54.165Z"
        },
        {
          "file": "img/card_4.png",
          "mtimeMs": 1695397114352.0974,
          "ctimeMs": 1695397233142.2744,
          "date": "2023-09-22T16:22:54.397Z"
        },
        {
          "file": "img/card_5.png",
          "mtimeMs": 1695397122170.5981,
          "ctimeMs": 1695397233150.4092,
          "date": "2023-09-22T16:22:54.928Z"
        },
        {
          "file": "img/card_6.png",
          "mtimeMs": 1695397136605.9438,
          "ctimeMs": 1695397233157.3533,
          "date": "2023-09-22T16:23:55.291Z"
        },
        {
          "file": "img/card_7.png",
          "mtimeMs": 1695397146037.6135,
          "ctimeMs": 1695397233163.664,
          "date": "2023-09-22T16:23:55.492Z"
        },
        {
          "file": "img/card_8.png",
          "mtimeMs": 1695397157551.8018,
          "ctimeMs": 1695397233169.8862,
          "date": "2023-09-22T16:23:55.691Z"
        },
        {
          "file": "img/card_9.png",
          "mtimeMs": 1695397166716.6626,
          "ctimeMs": 1695397233176.1274,
          "date": "2023-09-22T16:23:55.885Z"
        },
        {
          "file": "img/card_sm_1.png",
          "mtimeMs": 1695317815289.94,
          "ctimeMs": 1695317933618.0962,
          "date": "2023-09-22T16:23:56.203Z"
        },
        {
          "file": "img/card_sm_2.png",
          "mtimeMs": 1695317844381.781,
          "ctimeMs": 1695317933624.6394,
          "date": "2023-09-22T16:23:56.405Z"
        },
        {
          "file": "img/card_sm_3.png",
          "mtimeMs": 1695317852709.106,
          "ctimeMs": 1695317933631.7234,
          "date": "2023-09-22T16:23:56.606Z"
        },
        {
          "file": "img/card_sm_4.png",
          "mtimeMs": 1695317882918.2698,
          "ctimeMs": 1695317933638.6619,
          "date": "2023-09-22T16:25:26.578Z"
        },
        {
          "file": "img/head_main.png",
          "mtimeMs": 1695292674921.5598,
          "ctimeMs": 1695292814618.2358,
          "date": "2023-09-22T16:25:27.444Z"
        },
        {
          "file": "img/head_service.png",
          "mtimeMs": 1695394629213.7334,
          "ctimeMs": 1695394690087.338,
          "date": "2023-09-22T16:25:28.644Z"
        },
        {
          "file": "img/head_video.png",
          "mtimeMs": 1695293622114.6558,
          "ctimeMs": 1695294570293.4805,
          "date": "2023-09-22T16:25:28.920Z"
        },
        {
          "file": "layout/widget.html",
          "mtimeMs": 1695290479172.5493,
          "ctimeMs": 1695290479172.5493,
          "date": "2023-09-22T16:25:30.107Z"
        },
        {
          "file": "sections/cards_col_2.html",
          "mtimeMs": 1695399464147.6133,
          "ctimeMs": 1695399464147.6133,
          "date": "2023-09-22T16:25:30.646Z"
        },
        {
          "file": "sections/cards_col_3.html",
          "mtimeMs": 1695399692407.9775,
          "ctimeMs": 1695399692407.9775,
          "date": "2023-09-22T16:25:30.880Z"
        },
        {
          "file": "sections/cards_col_4.html",
          "mtimeMs": 1695399710368.515,
          "ctimeMs": 1695399710368.515,
          "date": "2023-09-22T16:25:31.103Z"
        },
        {
          "file": "img/information_bg.png",
          "mtimeMs": 1695661702933.0454,
          "ctimeMs": 1695662217987.4731,
          "date": "2023-09-25T18:14:13.434Z"
        },
        {
          "file": "media/information.mp4",
          "mtimeMs": 1695662156174.6946,
          "ctimeMs": 1695662210371.0435,
          "date": "2023-09-25T18:14:13.920Z"
        },
        {
          "file": "media/video_sm.mp4",
          "mtimeMs": 1695662353132.1475,
          "ctimeMs": 1695662406028.1306,
          "date": "2023-09-25T18:14:14.163Z"
        },
        {
          "file": "img/team_bg.png",
          "mtimeMs": 1695666313136.2412,
          "ctimeMs": 1695666388437.7607,
          "date": "2023-09-25T19:39:20.291Z"
        },
        {
          "file": "img/team_bg_m.png",
          "mtimeMs": 1695998811789.8818,
          "ctimeMs": 1695998913909.1897,
          "date": "2023-09-29T14:48:34.599Z"
        },
        {
          "file": "css/sections/doctor.css",
          "mtimeMs": 1695797179077.9727,
          "ctimeMs": 1695797179077.9727,
          "date": "2023-09-27T06:46:19.381Z"
        },
        {
          "file": "img/doctor_1.png",
          "mtimeMs": 1695998835091.3743,
          "ctimeMs": 1695998913014.0408,
          "date": "2023-09-29T14:50:04.206Z"
        },
        {
          "file": "img/doctor_2.png",
          "mtimeMs": 1695998843977.0796,
          "ctimeMs": 1695998913013.9836,
          "date": "2023-09-29T14:50:04.446Z"
        },
        {
          "file": "img/doctor_3.png",
          "mtimeMs": 1695998852749.2312,
          "ctimeMs": 1695998913013.9565,
          "date": "2023-09-29T14:50:04.687Z"
        },
        {
          "file": "parts/messenger.html",
          "mtimeMs": 1695994369508.3728,
          "ctimeMs": 1695994369508.3728,
          "date": "2023-09-29T14:50:34.215Z"
        },
        {
          "file": "sections/doctors.html",
          "mtimeMs": 1695794566425.4734,
          "ctimeMs": 1695794566425.4734,
          "date": "2023-09-29T14:50:34.344Z"
        },
        {
          "file": "sections/doctorsSlider.html",
          "mtimeMs": 1695794077977.3308,
          "ctimeMs": 1695794077977.3308,
          "date": "2023-09-29T14:50:34.454Z"
        },
        {
          "file": "css/select.css",
          "mtimeMs": 1696078119457.35,
          "ctimeMs": 1696078119457.35,
          "date": "2023-09-30T12:48:39.783Z"
        },
        {
          "file": "sections/services.html",
          "mtimeMs": 1696083240097.2456,
          "ctimeMs": 1696083240097.2456,
          "date": "2023-09-30T14:14:00.822Z"
        },
        {
          "file": "sections/content.html",
          "mtimeMs": 1696095348025.6174,
          "ctimeMs": 1696095348025.6174,
          "date": "2023-09-30T18:09:38.683Z"
        },
        {
          "file": "sections/payment.html",
          "mtimeMs": 1696086893131.5056,
          "ctimeMs": 1696086893131.5056,
          "date": "2023-09-30T18:09:38.929Z"
        },
        {
          "file": "img/advantages.png",
          "mtimeMs": 1696147538589.828,
          "ctimeMs": 1696147555404.8303,
          "date": "2023-10-01T09:30:13.133Z"
        },
        {
          "file": "img/advantages_1.png",
          "mtimeMs": 1696148101321.244,
          "ctimeMs": 1696148155247.7021,
          "date": "2023-10-01T09:30:13.278Z"
        },
        {
          "file": "img/advantages_2.png",
          "mtimeMs": 1696148120532.1963,
          "ctimeMs": 1696148155254.6345,
          "date": "2023-10-01T09:30:13.449Z"
        },
        {
          "file": "img/advantages_3.png",
          "mtimeMs": 1696148131829.1506,
          "ctimeMs": 1696148155260.922,
          "date": "2023-10-01T09:30:13.609Z"
        },
        {
          "file": "img/advantages_4.png",
          "mtimeMs": 1696148140121.5347,
          "ctimeMs": 1696148155267.0195,
          "date": "2023-10-01T09:30:13.809Z"
        },
        {
          "file": "img/license.png",
          "mtimeMs": 1696147102634.8135,
          "ctimeMs": 1696147114938.616,
          "date": "2023-10-01T09:30:14.324Z"
        },
        {
          "file": "sections/advantages.html",
          "mtimeMs": 1696146454925.1992,
          "ctimeMs": 1696146454925.1992,
          "date": "2023-10-01T09:30:14.600Z"
        },
        {
          "file": "img/location_1.png",
          "mtimeMs": 1696153109512.663,
          "ctimeMs": 1696174969662.5444,
          "date": "2023-10-01T17:41:51.359Z"
        },
        {
          "file": "img/location_2.png",
          "mtimeMs": 1696153152822.6875,
          "ctimeMs": 1696153198240.1729,
          "date": "2023-10-01T17:41:52.095Z"
        },
        {
          "file": "img/location_sm_1.png",
          "mtimeMs": 1696153221372.8247,
          "ctimeMs": 1696153294901.8152,
          "date": "2023-10-01T17:41:52.255Z"
        },
        {
          "file": "img/location_sm_2.png",
          "mtimeMs": 1696153244579.931,
          "ctimeMs": 1696153294908.115,
          "date": "2023-10-01T17:41:52.451Z"
        },
        {
          "file": "img/location_sm_3.png",
          "mtimeMs": 1696153261870.9927,
          "ctimeMs": 1696153294914.357,
          "date": "2023-10-01T17:41:52.624Z"
        },
        {
          "file": "img/location_sm_4.png",
          "mtimeMs": 1696153276427.0747,
          "ctimeMs": 1696153294920.635,
          "date": "2023-10-01T17:41:52.803Z"
        },
        {
          "file": "sections/location.html",
          "mtimeMs": 1696153019756.692,
          "ctimeMs": 1696153019756.692,
          "date": "2023-10-01T17:41:52.927Z"
        },
        {
          "file": "img/feedback_bg.png",
          "mtimeMs": 1696329322018.9724,
          "ctimeMs": 1696329421699.5369,
          "date": "2023-10-03T14:16:15.733Z"
        },
        {
          "file": "img/feedback_bg_m.png",
          "mtimeMs": 1696329389501.9766,
          "ctimeMs": 1696329421706.5117,
          "date": "2023-10-03T14:16:16.219Z"
        },
        {
          "file": "img/reviewsVideo_1.png",
          "mtimeMs": 1696336992016.6833,
          "ctimeMs": 1696337100795.2012,
          "date": "2023-10-03T14:16:16.867Z"
        },
        {
          "file": "img/reviewsVideo_2.png",
          "mtimeMs": 1696337044046.0918,
          "ctimeMs": 1696337100801.5195,
          "date": "2023-10-03T14:16:17.470Z"
        },
        {
          "file": "img/reviewsVideo_3.png",
          "mtimeMs": 1696337062561.3716,
          "ctimeMs": 1696337100808.1536,
          "date": "2023-10-03T14:16:18.051Z"
        },
        {
          "file": "img/reviewsVideo_4.png",
          "mtimeMs": 1696337078658.1428,
          "ctimeMs": 1696337100814.3855,
          "date": "2023-10-03T14:16:18.748Z"
        },
        {
          "file": "img/2gis.svg",
          "mtimeMs": 1696344836298.5598,
          "ctimeMs": 1696345162869.5398,
          "date": "2023-10-03T16:27:33.794Z"
        },
        {
          "file": "img/doctor.svg",
          "mtimeMs": 1696344777421.7183,
          "ctimeMs": 1696345162876.127,
          "date": "2023-10-03T16:27:34.061Z"
        },
        {
          "file": "img/google.svg",
          "mtimeMs": 1696344867438.991,
          "ctimeMs": 1696345162848.834,
          "date": "2023-10-03T16:27:34.286Z"
        },
        {
          "file": "img/logoy.svg",
          "mtimeMs": 1696344889694.408,
          "ctimeMs": 1696345162855.8123,
          "date": "2023-10-03T16:27:34.521Z"
        },
        {
          "file": "img/yandex.svg",
          "mtimeMs": 1696344855822.2378,
          "ctimeMs": 1696345162862.9258,
          "date": "2023-10-03T16:27:34.764Z"
        },
        {
          "file": "img/zoon.svg",
          "mtimeMs": 1696344756868.555,
          "ctimeMs": 1696345162882.8064,
          "date": "2023-10-03T16:27:34.999Z"
        },
        {
          "file": "img/blog_1.png",
          "mtimeMs": 1696606372847.001,
          "ctimeMs": 1696607295634.0757,
          "date": "2023-10-06T17:40:15.743Z"
        },
        {
          "file": "img/blog_2.png",
          "mtimeMs": 1696606391847.6892,
          "ctimeMs": 1696607295641.012,
          "date": "2023-10-06T17:40:15.941Z"
        },
        {
          "file": "img/blog_3.png",
          "mtimeMs": 1696606401021.991,
          "ctimeMs": 1696607295647.52,
          "date": "2023-10-06T17:40:16.142Z"
        },
        {
          "file": "img/responses.png",
          "mtimeMs": 1696495432058.2805,
          "ctimeMs": 1696495432058.2805,
          "date": "2023-10-06T17:40:16.652Z"
        },
        {
          "file": "img/singup_bg.png",
          "mtimeMs": 1696606992000,
          "ctimeMs": 1696607295660.219,
          "date": "2023-10-06T17:40:17.072Z"
        },
        {
          "file": "img/singup_bg_m.png",
          "mtimeMs": 1696607069639.4617,
          "ctimeMs": 1696607295653.807,
          "date": "2023-10-06T17:40:17.271Z"
        },
        {
          "file": "sections/singup.html",
          "mtimeMs": 1696606797511.6301,
          "ctimeMs": 1696606797511.6301,
          "date": "2023-10-06T17:40:17.372Z"
        },
        {
          "file": "pages/archiveBlog/index.html",
          "mtimeMs": 1696879513252.582,
          "ctimeMs": 1696879513252.582,
          "date": "2023-10-09T19:25:32.996Z"
        },
        {
          "file": "parts/pagination.html",
          "mtimeMs": 1696694634941.0337,
          "ctimeMs": 1696694634941.0337,
          "date": "2023-10-07T16:03:55.303Z"
        },
        {
          "file": "pages/singleBlog/index.html",
          "mtimeMs": 1696879513251.8535,
          "ctimeMs": 1696879513251.8535,
          "date": "2023-10-09T19:25:33.783Z"
        },
        {
          "file": "pages/serviceAll/index.html",
          "mtimeMs": 1696879513251.9187,
          "ctimeMs": 1696879513251.9187,
          "date": "2023-10-09T19:25:33.612Z"
        },
        {
          "file": "pages/about/index.html",
          "mtimeMs": 1696879513252.101,
          "ctimeMs": 1696879513252.101,
          "date": "2023-10-09T19:25:32.821Z"
        },
        {
          "file": "pages/archiveDoctor/index.html",
          "mtimeMs": 1696879513252.7488,
          "ctimeMs": 1696879513252.7488,
          "date": "2023-10-09T19:25:16.119Z"
        },
        {
          "file": "pages/singleDoctor/index.html",
          "mtimeMs": 1696934490122.4695,
          "ctimeMs": 1696934490122.4695,
          "date": "2023-10-10T10:41:30.468Z"
        },
        {
          "file": "img/img.png",
          "mtimeMs": 1696696635337.638,
          "ctimeMs": 1696762796315.361,
          "date": "2023-10-09T19:22:59.219Z"
        },
        {
          "file": "img/img_sm.png",
          "mtimeMs": 1696696648595.2847,
          "ctimeMs": 1696696666473.9265,
          "date": "2023-10-09T19:22:59.410Z"
        },
        {
          "file": "img/doctor_i.png",
          "mtimeMs": 1696931794803.681,
          "ctimeMs": 1696931834576.9019,
          "date": "2023-10-10T09:57:24.520Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
