.collapse {
    &__toggle {
        cursor: pointer;
        font-weight: bold;
        color: $color_info;
        font-size: 0.625em;
        @media (min-width: 768px) {
            font-size: 1.5em;

        }

        &.open {}
    }

    &__body {
        display: none;

        &.open {
            display: block;
        }
    }
}
