/* Footer
 ----------------------------------------------------------------------------- */

.footer {
	&__content {
		@extend .container_center;
	}

	&__row {

		@media (min-width: 768px) {
			border-top: 1px solid $color_primary;
			display: flex;
			justify-content: space-between;
		}

		// START FIRST ROW
		&:first-child {
			border-top: 1px solid $color_primary;

			padding-top: 2.25em;
			padding-bottom: 1.5em;

			@media (max-width: 767px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 2.25em;
			}
			@media (min-width: 768px) {
				padding-top: 4.125em;
				padding-bottom: 2.1875em;
			}

			.footer__col {
				&:first-child {
					@media (max-width: 767px) {
						grid-column-start: 1;
						grid-column-end: 3;

						display: flex;
						align-items: center;
						justify-content: space-between;
					}

					span {
						display: block;
						width: 13.15em;
						font-size: 0.625em;
						line-height: 1.5;

						@media (min-width: 768px) {
							line-height: 1.4;
							font-size: 0.875em;

						}
					}
				}

				&:nth-child(2) {
					@media (max-width: 767px) {
						grid-row-start: 3;
					}

				}

				&:last-child {
					@media (max-width: 767px) {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}

					> * {
						margin-top: 1em;
						@media (min-width: 768px) {
							margin-top: 2.25em;

						}

						&:first-child {
							margin-top: 0;
						}
					}
				}

			}
		}
		// END FIRST ROW

		// STARTT LAST ROW
		&:last-child {
			padding-top: 2.25em;
			padding-bottom: 2em;
			@media (min-width: 768px) {
				padding-top: 2.1875em;
				padding-bottom: 3.75em;

			}

			.footer__col {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				text-align: center;

				@media (max-width: 767px) {
					margin-bottom: 0.5em;

					&:last-child {
						display: block;
						line-height: 1;
						margin-bottom: 0;
					}
				}

				@media (min-width: 768px) {
					width: fit-content;

					&:first-child {
						text-align: left;
					}

					&:last-child {
						text-align: right;
					}
				}

			}

			a,
			span {
				margin-top: 0.7143em;
				font-size: 0.625em;

				@media (min-width: 768px) {
					line-height: 1;
					font-size: 0.875em;

				}

				&:first-child {
					margin-top: 0;
				}
			}

			a {
				color: $color_success;

				@media (min-width: 768px) {
					position: relative;
					text-decoration: none;
					font-weight: 500;

					&:after {
						content: '';
						position: absolute;
						display: inline-block;
						width: 100%;
						left: 0;
						bottom: -1px;
						border-bottom: 1px solid;
						border-color: inherit;
						transition: width 0.3s;
					}

					&:hover {
						&:after {
							width: 65%;
						}
					}

				}
			}

			span {
				color: #4C5355;
			}

		}
		// END LAST ROW
	}

	&__col {
		.logo {
			display: block;
			width: 10.625em;
			height: 3.75em;
			font-size: 0.5883em;
			@media (min-width: 768px) {
				font-size: 1em;
				margin-bottom: 1.625em;
			}
		}
	}

	&__messenger {
		.messenger {
			margin-top: 1em;
		}
	}

	&__label {
		font-weight: 700;
		font-size: 0.75em;
		margin-bottom: 1em;
		@media (min-width: 768px) {
			font-size: 1.25em;
			margin-bottom: 0;
			height: 1.2em;
		}
	}

	&__menu {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.menu {
			@media (min-width: 768px) {
				margin-top: 2.25em;
			}
		}

		.menu-item {
			margin-bottom: 0.25em;
			@media (min-width: 768px) {
				margin-bottom: 0.663em;

			}

			&:last-child {
				margin-bottom: 0;
			}

			a {
				text-decoration: none;
				color: #4C5355;
				font-size: 0.625em;
				@media (min-width: 768px) {
					font-size: 1.125em;

				}

			}
		}

		.menu-item-has-children {
			span {
				font-size: 0.75em;
				font-weight: 700;
			}
			@media (min-width: 768px) {
				span {
					display: none;
				}
			}

		}

		.sub-menu {}

	}

	&__phone {
		font-size: 0.55em;
		@media (min-width: 768px) {
			font-size: 1em;
		}

		a {
			text-decoration: none;
			display: flex;
			align-items: center;

			i {
				color: $color_success;
				font-size: 1.25em;
			}

			div {
				color: $main_color;
				margin-left: 0.75em;

				span {
					display: block;

					&:first-child {
						font-size: 0.875em;
					}

					&:last-child {
						margin-top: 0.125em;
						font-size: 1.375em;
						font-weight: 700;
						@media (min-width: 768px) {
							transition: 0.3s;
						}
					}
				}
			}

			@media (min-width: 768px) {
				&:hover {
					div {
						span {
							&:last-child {
								color: $color_success;
							}
						}
					}

				}
			}
		}
	}

	&__btn {}

	&__whatsapp {
		display: flex;
		gap: 0.9375em;
		align-items: center;

		font-size: 0.65em;
		@media (min-width: 768px) {
			font-size: 1em;
		}

		a {
			text-decoration: none;
			@media (min-width: 768px) {
				transform: scale(1);
				transition: 0.3s;

				&:hover {
					transform: scale(1.15);
				}
			}
		}

		i {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 2.1875em;
			height: 2.1875em;
			border-radius: 100%;
			background-color: $color_success;
			color: $color_white;

			&:before {
				font-size: 0.875em;
			}
		}

		span {
			width: 10.5em;
			font-size: 0.875em;
			line-height: 1.4;
		}
	}

}
