.messenger {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 0.5em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        width: 2.1875em;
        height: 2.1875em;
        border-radius: 100%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            object-fit: cover;

        }

    }

}
