// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.00833333334 * 100vw + 0px);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;
	font-size: $main_font_size;

	&:after {
		content: '';
		display: block;
		position: fixed;
		bottom: -100vh;
		left: 0;
		width: 100vw;
		height: 100vh;

		background-color: rgba($color_black, 0.65);
		// backdrop-filter: blur(4px);
		z-index: 1;
		transition: opacity 0.5s;
		opacity: 0;

	}

	&.blur {
		&:after {
			bottom: 0;
			opacity: 1;
		}
	};
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
	padding-top: 4.25em;
	@media (min-width: 768px) {
		padding-top: 13.1875em;
	}
}

.container_center {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.375em;
}

.section {
	padding: 1.0625em 0;
	@media (min-width: 768px) {
		padding: 4.25em 0;

	}

	&__title {
		font-size: 1.5em;
		margin: 0;
		font-weight: 400;
		line-height: 1.33;

		@media (min-width: 768px) {
			font-size: 4.375em;
			line-height: 1.143;
		}

		.section__wrap & {
			font-weight: 700;
		}
	}

	&__desc {
		color: #4C5355;
		margin-top: 1em;
		line-height: 1.5;
		font-size: 0.75em;

		@media (min-width: 768px) {
			margin-top: 1.5625em;
			line-height: 1.4;
			font-size: 2em;
		}
	}

	&__wrap {
		// position: relative;
		// border-top: 0.125em solid #F5F9F9;
		// padding-top: 2.5em;
		@media (min-width: 768px) {
			// padding-top: 3.75em;
			display: flex;
			justify-content: space-between;
		}
	}

	&__content {
		@media (min-width: 768px) {
			width: 73.75em;

			.section_work & {
				width: 66.875em;
			}

		}
	}

	&__sidebar {
		margin-top: 1.5em;
		@media (min-width: 768px) {
			margin-top: 0;
			width: 32.5em;
			margin-top: 0;
			flex: none;
			position: sticky;
			top: 5em;
			height: 100%;
		}
	}

	&__date {
		color: #4C5355;
		font-style: 500;
		font-size: 0.625em;
		margin-top: 1em;
		@media (min-width: 768px) {
			margin-top: 2.3em;
			font-size: 0.9375em;
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		gap: 0.75em;

		margin-top: 0.75em;
		margin-bottom: 0.75em;
		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
			gap: 1.25em;

			margin-top: 3.4375em;
			margin-bottom: 7.875em;
		}
	}

	&__nav {
		margin-top: 0.75em;
		@media (min-width: 768px) {
			margin-top: 2.1875em;
		}

		ul {
			font-size: 0.5em;
			@media (min-width: 768px) {
				font-size: 1em;
			}
		}

		li {
			position: relative;
			width: fit-content;
			margin-bottom: 1em;
			@media (min-width: 768px) {
				margin-bottom: 2em;

			}

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: '\e914';
				font-family: 'icon';

				display: inline-block;
				position: absolute;
				top: 50%;

				transform: translateY(-50%);
				left: 0;
				color: $color_success;

				font-size: 0.875em;
				opacity: 0;
				transition: 0.3s;

			}

			&:hover {
				a {
					color: $color_success;
					transform: translateX(2.5em);

					&:after {
						opacity: 1;
					}
				}

				&:before {
					opacity: 1;

				}
			}

		}

		a {
			display: inline-block;
			position: relative;
			text-decoration: none;
			font-size: 1.375em;
			font-weight: 500;
			color: #7D8688;
			transform: translateX(0);

			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				width: 100%;
				left: 0;
				bottom: -1px;
				border-bottom: 1px solid;
				border-color: inherit;
				opacity: 0;

				transition: 0.3s;
			}

		}
	}

	&__img {
		overflow: hidden;
		width: 100%;
		height: 7.5em;
		border-radius: 0.625em;
		margin: 0.3125em 0;

		@media (min-width: 768px) {
			margin: 0;
			height: 32.5em;
			border-radius: 3.125em;

			.section_work & {
				height: 25em;
				margin: 3.125em 0 4.6875em;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__row {
		padding-top: 0.75em;

		@media (min-width: 768px) {
			padding-top: 4.5em;

			&_first {
				padding-top: 2.1875em;
			}

			.section_work & {
				padding-top: 4.6875em;
			}
		}

		&_flex {

			@media (min-width: 768px) {
				display: flex;
				justify-content: space-between;

				&.reverse {
					flex-direction: row-reverse;
				}

				.section__img {
					flex: none;
					width: 32.5em;
					height: 25em;
				}

				.section__text {
					width: 39.375em;
				}

			}
		}
	}

	&__text {
		color: #4C5355;
		font-size: 0.5em;
		@media (min-width: 768px) {
			font-size: 1em;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 2em;
			font-weight: 700;

			margin: 0.5em 0;
			@media (min-width: 768px) {
				margin: 0.94em 0;

				.section_work & {
					font-size: 2.5em;
					margin: 0.75em 0;
					padding-bottom: 0.75em;
					border-bottom: 1px solid $color_primary;
				}
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		ol,
		p,
		ul {
			font-size: 1.25em;
			margin: 0.5em 0;
			line-height: 1.785;

			a {
				font-size: 1em;
			}

			@media (min-width: 768px) {
				.section_work & {
					font-size: 1.125em;
					margin: 1.666667em 0;
					line-height: 1.3198;
				}
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

		ol,
		ul {
			padding-left: 2em;
		}

		a {
			font-size: 1.25em;
			color: $color_info;
			font-weight: 500;
		}
	}

	&__quote {
		color: #2A2A2A;
		padding: 0.75em;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: $color_primary;
		text-align: center;
		line-height: 1.3125;

		font-size: 0.5em;
		@media (min-width: 768px) {
			font-size: 1em;
		}

		span {
			font-size: 2em;
		}
	}

	&__more {
		margin-top: 1.5em;
		@media (min-width: 768px) {
			margin-top: 3.4375em;
		}

		a {
			color: $color_info;
			font-weight: 500;
			@media (min-width: 768px) {
				font-size: 1.5em;

			}

		}
	}

	&__workInfo {
		display: flex;
		gap: 3.4375em;
		margin: 1.875em 0;
		padding: 0 0 1.875em;
		list-style: none;

		font-size: 0.75em;
		@media (min-width: 768px) {
			font-size: 1em;
			border-bottom: 1px solid $color_primary;
		}

		li {
			display: flex;
			flex-direction: column;
		}

		span {
			font-size: 1.25em;
			font-weight: 700;
			line-height: 1.45;

			&:last-child {
				margin-top: 0.6em;
				font-weight: 400;
				color: #4C5355;
			}
		}

	}

	&__play {
		display: flex;
		align-items: center;
		gap: 1.25em;
		margin: 1.875em 0;

		font-size: 0.675em;
		@media (min-width: 768px) {
			font-size: 1em;

		}

		.play {}

		&_label {
			font-size: 1.5em;
			font-weight: 700;
		}
	}

	&__beforeAfter {
		margin-top: 0.75em;
		@media (min-width: 768px) {
			margin-top: 3.125em;

		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.img_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}

a {
	&.snakeline {
		@media (min-width: 768px) {
			position: relative;
			text-decoration: none;

			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				width: 100%;
				left: 0;
				bottom: -1px;
				border-bottom: 1px solid;
				border-color: inherit;

				transition: width 0.3s;
			}

			&:hover {
				&:after {
					width: 65%;
				}
			}
		}
	}

}

a {
	&.arrow {
		position: relative;

		&:before {
			font-family: 'icon';
			content: '\e914';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -3.5em;
			font-size: 0.6246em;
		}
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	&:nth-child(n+10) {
		.counter-el {
			&:before {
				content: none;

			}
		}
	}

	.counter-el {
		&:before {
			content: '0';

		}

		&:after {
			content: counter(line) ' ';
		}

	}
}

// По счетчикам элементов с нулям впереди на будущее
// li:before {
//   counter-increment: li;
//   content: counter(item, decimal-leading-zero);
// }

// При чем есть варинаты через :nth-child(-n+9) сделать

/*
	<div class="video-wrap">
		<div class="video-play" style="background-image: url('img.png')">
			<video width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
			  <source src="video.mp4" type="video/mp4"/>
			</video>
		</div>
		<div class="video-content">
			content
		</div>
	</div>
*/
.video-wrap {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.video-play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-image: url("img.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	video {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
		// border-radius: 0.625em;
		// @media (min-width: 768px) {
		// 	border-radius: 3.125em;
		// }
	}

}

.video-content {
	position: relative;
}

.manager {
	color: $color_white;
	font-size: 0.5em;
	@media (min-width: 768px) {
		font-size: 1em;

	}

	&__name {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.1867;
	}

	&__info {
		margin-top: 1.5em;
		font-size: 1.125em;
	}
}

// * {
// 	border: 1px solid #000;
// }
