extends ../../layout/layout.pug

block variable
    -var path = '../../';

    //- path +"img/head_main.png"


block content

    // begin breadcrumbs
    section#breadcrumbs.breadcrumbs.section
        .container_center
            .breadcrumbs__content

                .kama_breadcrumbs
                    span
                        a(href="#")
                            span Главная
                    span.kb_sep 

                    span.kb_title Наши работы

    // end breadcrumbs

    // begin work
    section#work.work.work_archive.section
        .container_center
            h1.section__title Наши работы до и после
            .section__desc Помогаем даже в тех случаях, когда другие клиники бессильны
            .work__filter
                .filter
                    ul.cat-list.filter-cat-js

                        li.cat-item.filter-cat-js
                            input(type="radio" id="term_id_1" name="cat_name" value="term_id_1" checked)
                            label(for="term_id_1")
                                span Все

                        each item in [ {id: '2', label: 'Лечение зубов во сне'}, {id: '3', label: 'Имплантация зубов'}, {id: '4', label: 'Все-на-4'}, {id: '5', label: 'Отбеливание зубов'}, {id: '5', label: 'Исправление прикуса'}, {id: '6', label: 'Элайнеры'}, {id: '7', label: 'Брекеты'}, {id: '8', label: 'Лечение дёсен'} ]

                            li.cat-item.filter-cat-js
                                input(type="radio" id="term_id_"+item.id+"" name="cat_name" value="term_id_"+item.id+"")
                                label(for="term_id_"+item.id+"")
                                    span=item.label

            .work__list.filter__content
                each item in [ {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка.', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними.'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'} ]
                    .work__item

                        .work__beforeAfter.img.beforeAfter-container
                            img(src="../../img/work_1.png" loading="lazy")
                            img(src="../../img/work_2.png" loading="lazy")

                        .work__info
                            .work__box.error
                                .work__label Проблема
                                span=item.text
                            .work__box.succes
                                .work__label Решение
                                span=item.text2

                        .work__content
                            .work__title Провели имплантацию All-on-4 при полной адентии, наростив костную ткань
                            .work__description
                                .work__row
                                    span Врачи:
                                    p Айк Оганесович Байбурцян
                                    p Айк Оганесович Байбурцян

                                .work__row
                                    span Стоимость:
                                    p 250 000 руб

                                .work__row
                                    span Срок:
                                    p 1 день

                            .work__btn
                                a.btn.btn_sm(href="#")
                                    span Узнать больше





                include ../../parts/pagination.pug

    // end work

    include ../../sections/reviewsCompany.pug

    include ../../sections/advantages.pug

    include ../../sections/payment.pug

    include ../../sections/singup.pug
