.messenger
    .messenger__label Мы в соцсетях
    .messenger__list
        .messenger__item
            a.messenger__link.vk(href="#" target="_blank")
                i.icon_vk
        .messenger__item
            a.messenger__link.insta(href="#" target="_blank")
                i.icon_Insta
        .messenger__item
            a.messenger__link.youtube(href="#" target="_blank")
                i.icon_youtube
