.price__item
    .price__row
        .price__col
            .price__img.img
                img(src="../../img/price_1.png" alt="image" loading="lazy")
        .price__col
            .price__caption
                .price__title  "All on 4"
                .price__desc Протез на 4-х имплантах Osstem
                .price__info Пожизненная гарантия
        .price__col
            ul.list
                li Адаптационный каркас устанавливается в день имплантации
                li Кол-во новых зубов на 1-ой челюсти: 12
        .price__col
            .price__content
                .price__stock
                    span Акция до <script type="text/javascript">document.write((new Date(new Date().setDate(new Date().getDate() + 31))).toLocaleDateString());</script>

                .price__value
                    .price__old от 256 000 руб
                    .price__current  от 169 000 Руб
                    .price__extra + адаптационный протез 48 000 Руб
                    .price__btn
                        a.btn.btn_sm.show_modal_js(href="#onlyPhone")
                            span Участвовать в акции
