extends ../../layout/layout.pug

block variable
    -var path = '../../';

    //- path +"img/head_main.png"


block content

    // begin breadcrumbs
    section#breadcrumbs.breadcrumbs.section
        .container_center
            .breadcrumbs__content

                .kama_breadcrumbs
                    span
                        a(href="#")
                            span Главная
                    span.kb_sep 
                    span
                        a(href="#")
                            span Наши работы
                    span.kb_sep 

                    span.kb_title  Провели имплантацию All-on-4 при полной адентии, наростив костную ткань

    // end breadcrumbs

    // begin
    section.section.section_work
        .container_center
            .section__wrap
                .section__content
                    h1.section__title Провели имплантацию All-on-4 при полной адентии, наростив костную ткань
                    .section__btn
                        a.btn.btn_lg.btn_danger(href="#")
                            span Записаться на<br> первичный приём

                        a.btn.btn_lg(href="#")
                            span Узнать стоимость<br> по WhatsApp
                            span время ответа около 10 минут
                    .section__nav
                        ul.list
                            li
                                a.scroll_js(href="#row1") С чем обратился пациент
                            li
                                a.scroll_js(href="#row2") Провели обследование
                            li
                                a.scroll_js(href="#row3") Установили импланты
                            li 
                                a.scroll_js(href="#row4") Установили постоянный мост
                            li
                                a.scroll_js(href="#row5") Результат

                    // begin row
                    .section__row

                        .section__text#row1
                            h2 С чем обратился пациент
                            div
                                p Пациент выразил свою неудовлетворенность относительно внешнего вида своих зубов. Он отметил, что их цвет не является достаточно белым и привлекательным. Кроме того, пациент также обратил внимание на различные эстетические проблемы, такие как неровности и сколы на поверхности зубов.

                                p В целом, он был не удовлетворен общим состоянием своей улыбки и хотел ее улучшить.

                        .section__img.img
                            img(src="../../img/singleWork_1.png" loading="lazy")


                    // end row

                    // begin row
                    .section__row#row2
                        .section__text
                            h2 Провели обследование
                            p Обследование: пациент проходит рентгеновские и КТ-исследования для определения здоровья кости и других тканей в зоне имплантации.

                            p Если зубы уже удалены, то перед установкой имплантов может потребоваться провести дополнительную хирургическую процедуру для восстановления объема кости.

                        .section__img.img
                            img(src="../../img/singleWork_2.png" loading="lazy")
                    // end row

                    // begin row
                    .section__row#row3
                        .section__text
                            h2 Установили импланты
                            p Установка имплантов: во время этого этапа хирург устанавливает четыре импланта в верхнюю или нижнюю челюсть, в зависимости от того, где требуется восстановление зубов.

                            p После установки имплантов, на них крепится временный мост, чтобы пациент мог использовать зубы на следующий день после процедуры.

                        .section__img.img
                            img(src="../../img/singleWork_3.png" loading="lazy")
                    // end row

                    // begin row
                    .section__row#row4
                        .section__text
                            h2 Установили постоянный мост
                            p Установка имплантов: во время этого этапа хирург устанавливает четыре импланта в верхнюю или нижнюю челюсть, в зависимости от того, где требуется восстановление зубов.

                            p После установки имплантов, на них крепится временный мост, чтобы пациент мог использовать зубы на следующий день после процедуры.

                        .section__img.img
                            img(src="../../img/singleWork_4.png" loading="lazy")
                    // end row

                    // begin row
                    .section__row#row5
                        .section__text
                            h2 Результат
                            p В результате  удалось улучшить эстетический вид улыбки пациента. Керамические виниры покрыли поверхность зубов, создав естественный белоснежный цвет и скрыли неровности и сколы.

                            p Пациент был доволен результатом и выразил благодарность стоматологам за проведенную процедуру.
                    // end row

                    ul.section__workInfo
                        li 
                            span Стоимость:
                            span 250 000 руб
                        li 
                            span Срок:
                            span 1 день


                    .section__play
                        .play.youtubeModal_js#rsDoGqnPE4c
                            i.icon_play
                        .section__play_label Смотреть видеоотзыв

                    .section__beforeAfter
                        .work__beforeAfter.img.beforeAfter-container
                            img(src="../../img/work_1.png" loading="lazy")
                            img(src="../../img/work_2.png" loading="lazy")







                // begin sidebar
                .section__sidebar
                    .sidebar
                        // begin sidebar__item
                        .sidebar__item
                            .reviewsVideo__preview.video-wrap
                                .reviewsVideo__video.video-play(style="background-image: url('../../img/reviewsVideo_"+item+".png')")
                                    video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                                        source(src="../../media/information.mp4" type="video/mp4")

                                .reviewsVideo__content.video-content
                                    .reviewsVideo__play
                                        .play.youtubeModal_js#rsDoGqnPE4c
                                            i.icon_play
                                    .reviewsVideo__text
                                        span Анна Ивановна Троценко
                                        span “Благодарю за высокий профессионализм и грамотную понятную консультацию” 

                        // end sidebar__item

                        // begin sidebar__item
                        .sidebar__item
                            .sidebar__title Может быть интересно
                            .blog__grid
                                each item in [ {img: '1', title: 'Как подготовиться'}, {img: '2', title: 'Что делать, если сломался зуб: советы стоматолога по оказанию первой помощи'}, {img: '3', title: 'Лечение зубов за границей: плюсы и минусы, опыт и рекомендации'}, {img: '1', title: 'Как подготовиться к посещению стоматолога: советы и рекомендации'} ]
                                    .blog__item


                                        .blog__img.img
                                            img(src="../../img/blog_"+item.img+".png" alt="image" loading="lazy") 
                                        .blog__date 
                                            span 28 / 02 / 2023
                                        .blog__title
                                            span=item.title 
                                        .blog__link
                                            a.snakeline.arrow(href="#") Читать статью
                        // end sidebar__item


                // end sidebar


    // end

    // begin author
    section#author.author.section
        .container_center
            h2.section__title <b>Автор статьи</b>
            .doctor__list
                each item in [ {img: '1', name : 'Айк Оганесович Байбурцян'} ]

                    .doctor__item
                        .doctor__left
                            .doctor__preview
                                .doctor__img.img
                                    img(src=path +"img/doctor_"+item.img+".png" alt="image" loading="lazy")
                                .doctor__play
                                    .play.youtubeModal_js#rsDoGqnPE4c
                                        i.icon_play

                        .doctor__right
                            .doctor__name=item.name
                            .doctor__label Квалификация
                            .doctor__specializing Эксперт в области имплантации и протезирования
                            //- Опыт работы / Стаж
                            .doctor__label Стаж
                            .doctor__experience 17 лет
                            ul.list
                                each item in ['Дентальная имплантация: Nobel, Noris, Альфабио, SGS, Astra, Zumer, Osstem, Straumann, Cortex', 'Имплантация ALL-on-4', 'Установка Pterygoid, Zigoma (скуловые имплантаты).' ]
                                    li=item
                            .doctor__btn
                                a.btn(href="#")
                                    span Подробнее о враче


    // end author

    include ../../sections/reviewsCompany.pug

    include ../../sections/advantages.pug

    include ../../sections/payment.pug

    include ../../sections/singup.pug
