
<!-- begin widget-->
<div class="widget" id="widget">
  <div class="widget__toggle"><i class="icon_close"></i></div>
  <ul class="widget__list">
    <li class="widget__item"><a class="widget__link" href="#"><i class="icon_calendar"></i><span>Записаться на прием</span></a></li>
    <li class="widget__item"><a class="widget__link" href="#"><i class="icon_pdf"></i><span>Скачать полезный файл</span></a></li>
    <li class="widget__item"><a class="widget__link" href="#"><i class="icon_phone"></i><span>Заказать консультацию</span></a></li>
  </ul><a class="widget__top scroll_js" href="#wrapper"> <i class="icon_up"></i></a>
</div>
<!-- end widget-->