// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo


// Begin Modal onlyPhone
.modal.fade.onlyPhone#onlyPhone
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Только телефон<br> и мы в деле
                .modal-subtile Оставьте заявку и мы свяжемся с вами в течение 5-10 минут
            .modal-body 
                .modal-form
                    // begin form
                    form.form(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            .form__label Введите номер телефона
                            .phone_icon
                                input.phone(type="text" name="phone" required placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_lg.btn_form.btn_didisabled_js(type="submit") 
                                span Отправить

                        .form__row.form__row_full
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>

                    // end form

// End modal onlyPhone


// Begin Modal modalQuiz
.modal.fade.modalQuiz#modalQuiz
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
                i.icon_close
            .modal-quiz
                // begin quiz
                .quiz
                    .container_center
                        // start quiz-container
                        .quiz-container
                            // start quiz-main
                            .quiz-main
                                .quiz-wrap
                                    .quiz-header
                                        .quiz-label Получите индивидуальный расчет стоимости имплантации в 3-х вариантах
                                    .quiz-line
                                        .quiz-line__bg(style='width: 5%;')


                                    .quiz-question__title Выберите услугу для расчёта стоимости

                                    .scroll__wrap
                                        .scroll
                                            .scroll__content

                                                .modalQuiz__list

                                                    each item in ['', '', '', '', '', '']
                                                        a.modalQuiz__item(href="#")
                                                            .modalQuiz__img.img
                                                                img(src=path +'img/quiz/question/photo_1.png' alt="image" loading="lazy")

                                                                .modalQuiz__check
                                                                    i.icon_mark
                                                            .modalQuiz__title Имплантация зубов


                                .quiz-footer
                                    .quiz-footer__hint
                                        span <b>Выберите вариант ответа</b><br> и нажмите кнопку “Далее”

                                    .quiz-arrow__wrap
                                        button.btn.btn_sm.quiz-arrow(disabled='')
                                            span Далее


                            // end quiz-main

                            include ../quiz/quiz-right.pug



                        // end quiz-container

                        include ../quiz/quiz-result.pug



                // end quiz

// End modal modalQuiz


//- // Begin Modal modalSingleQuiz
//- .modal.fade.modalQuiz.modalSingleQuiz#modalSingleQuiz
//-     .modal-dialog
//-         .scroll__wrap
//-             .scroll
//-                 .scroll__content
//-                     .modal-content
//-                         a(href="#" class="modal-close" data-dismiss="modal")
//-                             i.icon_close
//-                         .modal-quiz
//-                             // begin quiz
//-                             section.quiz.section
//-                                 .container_center
//- 
//-                                     h1.section__title <b>Рассчитайте сколько будет стоить</b> для вас восстановить зубы за 1 день
//-                                     .section__desc Пройдите небольшой бесплатный тест 
//- 
//- 
//- 
//-                                     form.quiz-form#quiz(action='#')
//- 
//-                                         // start quiz-container
//-                                         .quiz-container
//-                                             // start quiz-main
//-                                             .quiz-main
//-                                                 .quiz-wrap
//-                                                     .quiz-header
//-                                                         .quiz-label Получите индивидуальный расчет стоимости имплантации в 3-х вариантах
//-                                                         .quiz-steps
//-                                                             span.quiz_current_step_js 1
//-                                                             span /
//-                                                             span.quiz_total_step_js 4
//- 
//-                                                     .quiz-line
//-                                                         .quiz-line__bg(style='width: 5%;')
//- 
//- 
//-                                                     include ../quiz/quiz-question.pug
//- 
//-                                                 .quiz-footer
//-                                                     .quiz-footer__hint
//-                                                         span <b>Выберите вариант ответа</b><br> и нажмите кнопку “Далее”
//- 
//-                                                     .quiz-arrow__wrap
//-                                                         button.btn.btn_sm.btn_white.quiz-arrow.quiz-arrow__prev
//-                                                             span Назад
//-                                                         button.btn.btn_sm.quiz-arrow.quiz-arrow__next(disabled='')
//-                                                             span Далее
//- 
//- 
//-                                             // end quiz-main
//- 
//-                                             include ../quiz/quiz-right.pug
//- 
//- 
//- 
//-                                         // end quiz-container
//- 
//-                                         include ../quiz/quiz-result.pug
//- 
//- 
//- 
//-                             // end quiz
//- 
//- // End modal modalSingleQuiz
