// begin widget
#widget.widget
    .widget__toggle
        i.icon_close
    ul.widget__list
        li.widget__item
            a.widget__link(href="#")
                i.icon_calendar
                span Записаться на прием
        li.widget__item
            a.widget__link(href="#")
                i.icon_pdf
                span Скачать полезный файл

        li.widget__item
            a.widget__link(href="#")
                i.icon_phone
                span Заказать консультацию

    a.widget__top.scroll_js(href="#wrapper") 
        i.icon_up
// end widget
