// begin cards col_4
//- img 400/400
section.cards.col_4.section
    .container_center
        h2.section__title <b>Панический страх перед зубной болью сменяется на восторг от профессионализма</b>

        ul.cards__list
            each item in [{img: '6', title: 'Создаем цифровой план лечения', content: 'По результатам сканирования создается 3D-модель зубов, на основании которой создается индивидуальный план лечения'}, {img: '7', title: 'Печатаем каппы на заводе в Италии', content: 'Воплощаем цифровой план в реальность используя 3D печать для создания персонализированных элайнеров'}, {img: '8', title: 'Корректировка по мере выравнивания зубов', content: 'За счёт своей гибкости лучше прилегает к зубам, обеспечивая плотную посадку и точные движения, а в результате более красивую улыбку'}, {img: '9', title: 'Эстетичность и не заметность элайнеров', content: 'Являются более эстетичными в сравнении с традиционными брекетами. Они также более комфортны для ношения, так как не имеют острых краев и не требуют регулярной обработки'} ]

                // begin .cards__item
                .cards__item
                    .cards__img.img
                        img(src=path +"img/card_"+item.img+".png" alt="image" loading="lazy")
                    .cards__content
                        .cards__title!=item.title
                        p!=item.content

                // end .cards__item

// end cards
