// begin cards карты с изображением и текстом
//- img 850/500
section.cards.section
    .container_center
        h2.section__title Наша цель - сохранить зуб
        .section__desc С ювелирной точностью даже в самых сложных случаях

        ul.cards__list
            // begin .cards__item
            .cards__item
                .cards__img.img
                    img(src=path +"img/card_1.png" alt="image" loading="lazy")
                .cards__content
                    .cards__title Микроскоп
                    ul
                        li Подсетка
                        li Микроинвазивность
                        li Фото и видео документация
                        li Эргономика
                        li 100% успех в перелечивании кист

            // end .cards__item

            // begin .cards__item
            .cards__item
                .cards__img.img
                    img(src=path +"img/card_2.png" alt="image" loading="lazy")
                .cards__content
                    .cards__title Бинокулярные очки
                    p Каждый врач, независимо от специализации работает с увеличением 4х. Это позволяет нам добиваться 100% эффективности и точности любой манипуляции.     

            // end .cards__item

// end cards
