// begin content
section#content.content.section
    .container_center
        h2.content__title О сети цифровых клиник FUROR

        .content__preview
            .section__text
                p Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.

        .content__collapse
            .collapse__body(data-collapse-body="")
                .section__text
                    p  Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.

                    p   Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.


                    h1 заголовок h1
                    h2 заголовок h2
                    h3 заголовок h3
                    h4 заголовок h4
                    h5 заголовок h5
                    h6 заголовок h6

                    p  Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.

                    h3 заголовок третьего уровня

                    p  Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.

                    h1 список ul

                    ul
                        each item in ['защищенность от размокания;', 'использование водостойких материалов и покрытий;', 'широкий диапазон рабочих температур;', 'обработка составами, предотвращающими появление плесени или грибков;']
                            li=item

                    p  Сеть стоматологических клиник Furor основана в мае 2014 года в г. Москва, врачом – стоматологом, кандидатом медицинских наук Байбурцян Айком Оганесовичем. Клиники полностью оснащены: стоматологические установки, операционный блок, собственная зуботехническая лаборатория. Коллектив клиники - профессионалы, работающие по системе непрерывного профессионального образования. Проводят мастер классы, презентации для врачей других стоматологических учреждений.

            a.snakeline.arrow.collapse__toggle(data-collapse="") Читать полностью

// end content
