// begin do
section#do.do.section
    .container_center
        .do__label А что делать?
        h2.section__title <b>Может оставить всё как есть?</b>
        .do__grid
            each item in ['Вся жизнь ради родных, детей, внуков. <b>Нет времени подумать о себе, пожить для себя</b>', '<b>Можно еще потерпеть, отложить.</b> И каждый день приклеивать неудобный съемный протез, который доставляет дискоморт и ухудшает проблемы со здоровьем', ]
                .do__item
                    i.icon_error
                    span!=item

// end do
