// begin information
//- img 800/550
section#information.information.section
    .container_center
        .information__wrap

            .information__top
                h2.section__title <b>Помогаем даже в тех случаях</b>, когда другие клиники бессильны
                .section__desc Рассказываем про наш подход к лечению, основанный на 17-летнем опыте руководителя сети клиник FUROR Айка Оганесовича 

            .information__bottom.video-wrap

                .information__video.video-play(style="background-image: url('../../img/information_bg.png')")
                    video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                        source(src="../../media/information.mp4" type="video/mp4")

                .information__content.video-content
                    .information__play
                        .play.youtubeModal_js#rsDoGqnPE4c
                            i.icon_play
                    .information__subtitle За 12 лет установили<br>более 50 000 имплантатов. 

// end information
