// begin information
//- img 800/550
section.information.section
    .container_center
        .information__wrap.information__wrap_sm
            .information__top
                .section__title <b>Важно обратиться к стоматологу при первых симптомах проблем с дёснами</b>
                .section__desc Чтобы предотвратить более серьёзные проблемы


                .information__btn
                    a.btn.btn_lg.show_modal_js(href="#onlyPhone")
                        span Заказать консультацию
                .information__phone
                    span Или позвоните прямо сейчас
                    span Ежедневно с 10:00 до 21:00 
                    a(href="tel:+7 (926) 146-00-88") +7 (926) 146-00-88

            .information__bottom.video-wrap

                .information__video.video-play(style="background-image: url('../../img/information_bg.png')")
                    video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                        source(src="../../media/information.mp4" type="video/mp4")

                .information__content.video-content
                    .information__play
                        .play.youtubeModal_js#rsDoGqnPE4c
                            i.icon_play
                    .information__subtitle 
                        span Айк Оганесович Байбурцян
                        span Кандидат медицинских наук,<br> руководитель и основатель сети<br> стоматологий FUROR




// end information
