// begin instruction
section#instruction.instruction.section
    .container_center
        .instruction__content
            .instruction__text
                h2.section__title Скачайте прямо сейчас инструкцию, как правильно выбрать хорошую клинику
                .section__desc.desktop Разработали бесплатный файл, в котором рассказываем, на что обращать внимание при выборе клиники и специалиста, чтобы не разочароваться в результате 
            .instruction__form
                // begin form
                form.form.light(action="send.php")
                    //- из какой формы на сайте
                    input(type="hidden" name="subject" value="форма в футоре")
                    //- проверка спама
                    input(type="hidden" name="notspam" value="")

                    .form__title Просто оставьте контакты — отправим бесплатный файл в любой мессенджер 


                    .form__row
                        .form__label Куда вам удобнее отправить?
                        select.select(data-placeholder="Whatsapp" name="select")
                            option(value="")
                            option(value="whatsApp" selected="selected") WhatsApp
                            option(value="viber") Viber
                            option(value="telegram") Telegram

                    .form__row
                        .form__label Введите номер телефона
                        .phone_icon
                            input.phone(type="text" name="phone" required placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _")

                    .form__row
                        button.btn.btn_form.btn_danger.btn_lg.btn_didisabled_js(type="submit") 
                            span Получить Pdf файл сейчас
                            span размер файла 2 Mb

                    .form__row.form__row_full
                        .form__privacy
                            label.form__check
                                input.check_checked_js(type="checkbox" checked="checked")
                                span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>

                // end form



// end instruction
