// begin networks
section#networks.networks.section
    .container_center
        h2.section__title <b>Следите за новостями и акциями в наших социальных сетях</b>
        .networks__list

            a.networks__link(href="#")
                .networks__wrap
                    i.icon_youtube
                    .networks__content
                        .networks__label YouTube
                        .networks__quantity
                            span.animate-number-js 60
                            span подписчиков

            a.networks__link(href="#")
                .networks__wrap
                    i.icon_Insta
                    .networks__content
                        .networks__label Insta
                        .networks__quantity
                            span.animate-number-js 60
                            span подписчиков

            a.networks__link(href="#")
                .networks__wrap
                    i.icon_vk
                    .networks__content
                        .networks__label Вконтакте
                        .networks__quantity
                            span.animate-number-js 5
                            span подписчиков


// end networks
