// begin payment
section#payment.payment.section
    .container_center
        h2.section__title <b>Лечение в наших клиниках доступно каждому</b>
        .section__desc Можно не брать в долг у знакомых и не просить детей оплатить лечение 

        .payment__content
            .payment__left
                .payment__title Оформляйте рассрочку без переплат
                .payment__desc Только изначальная сумма, разделённая на 12 месяцев 
                .payment__btn.desktop
                    a.btn.btn_lg.btn_danger(href="#")
                        span Оставить заявку на рассрочку

            .payment__right
                .payment__label Для оформления договора по рассрочке достаточно иметь при себе только паспорт гражданина РФ
                .payment__row
                    .payment__col
                        span.animate-number-js 0
                        span процентов
                    .payment__col
                        span.animate-number-js 12
                        span месяцев


            .payment__btn.mobile
                a.btn.btn_danger(href="#")
                    span Оставить заявку на рассрочку

// end payment
