// begin reviews
section#reviews.reviews.section
    .container_center
        //- zoon 
        //- doctor
        //- yandex
        //- google


        //- zoon.ru  prodoctorov.ru  yandex.ru  google.ru

        .reviews__list
            each item in [ {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'zoon.ru', logo: 'zoon'}, {title: 'Не ощущаю никаких проблем с зубами Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал.', src: 'prodoctorov.ru', logo: 'doctor'}, {title: 'Не ощущаю', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6.', src: 'yandex.ru', logo: 'yandex'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'google.ru', logo: 'google'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'zoon.ru', logo: 'zoon'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'prodoctorov.ru', logo: 'doctor'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'zoon.ru', logo: 'zoon'}, {title: 'Не ощущаю никаких проблем с зубами Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал.', src: 'prodoctorov.ru', logo: 'doctor'}, {title: 'Не ощущаю', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6.', src: 'yandex.ru', logo: 'yandex'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'google.ru', logo: 'google'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'zoon.ru', logo: 'zoon'}, {title: 'Не ощущаю никаких проблем с зубами', text: 'Отличная зубная клиника ! Делала там инплантацию all on 6. К каждому клиенту индивидуальный подход. Главный врач клиники Айк Оганесович - большой мастер своего дела ! Спасибо доктору ортопеду Магомеду Зубайруевичу за его труд. В клинике дружелюбный и отзывчивый персонал. В пешей доступности от метро, и также есть парковка для авто. Обьязательно ещё буду обращаться к Вам. Всем большая благодарность !!', src: 'prodoctorov.ru', logo: 'doctor'},  ]

                .reviews__item
                    .reviews__header
                        span=item.title
                    .reviews__main
                        span=item.text
                    .reviews__footer
                        .reviews__info
                            .reviews__name Мария
                            .reviews__date 14 февраля 2023 в 17:26
                            .reviews__source Отзыв с портала 
                                a(href="#")=item.src

                        .reviews__logo(class="reviews__logo_"+item.logo+"")
                            img(src="../../img/"+item.logo+".svg" alt="logo" loading="lazy")


        .section__moreRotate
            a.show_more_js(href="#") Смотреть все отзывы



// end reviews
