// begin stages
section#stages.stages.section
    .container_center
        h2.section__title <b>Основные этапы имплантации “Все-на-4”</b>
        .stages__list.counter-wrap
            each item in ['', '', '', ]

                .stages__item.counter-item
                    .stages__box
                        .stages__title
                            span.counter-el
                            span Обследование
                            .stages__price
                                span.old 30 000 руб
                                span 19 900 руб

                        .stages__description Установка имплантов: во время этого этапа хирург устанавливает четыре импланта в верхнюю или нижнюю челюсть, в зависимости от того, где требуется восстановление зубов. После установки имплантов, на них крепится временный мост, чтобы пациент мог использовать зубы на следующий день после процедуры.

                        .stages__action
                            .stages__btn
                                a.btn.btn_lg(href="#")
                                    span Заказать консультацию
                            .stages__phone
                                span Или позвоните прямо сейчас
                                span Ежедневно с 10:00 до 21:00
                                a(href="tel:+7 (926) 146-00-88") +7 (926) 146-00-88


                    .stages__preview.video-wrap
                        .stages__video.video-play(style="background-image: url('../../img/advantages.png')")
                            video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                                source(src="../../media/information.mp4" type="video/mp4")

                        .stages__content.video-content
                            .stages__play
                                .play.youtubeModal_js#rsDoGqnPE4c
                                    i.icon_play
                            .stages__text
                                span Айк Оганесович Байбурцян
                                span Рассказывает про 1 этап




// end stages
