// begin team
section#team.team.section
    .container_center
        h2.section__title <b>Собрали команду</b> высококлассных врачей, ассистентов и кураторов

        .section__desc Дружелюбных и вежливых, которые искренне влюблены в своё дело 

        .team__content
            .team__bg.img_bg
                img.desktop(src=path +"img/team_bg.png" alt="image" loading="lazy")
                img.mobile(src=path +"img/team_bg_m.png" alt="image" loading="lazy")

            .team__aside
                .team__list
                    .team__item
                        .team__top
                            span 10
                            small лет
                        .team__bottom на рынке стоматологических услуг в России

                    .team__item
                        .team__top
                            span 32
                            small  врача
                        .team__bottom нв штате<br> клиники

                    .team__item
                        .team__top
                            span 10000

                        .team__bottom довольных<br> пациентов

                .team__btn.desktop
                    a.btn(href="#") Подробнее о нашей клинике

        .team__btn.mobile
            a.btn.btn_danger(href="#")
                span Подробнее о нашей клинике

// end team
