// begin work
section#work.work.section
    .container_center
        h2.section__title <b>Примеры работ</b>
        .work__grid
            each item in [ {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка.', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними.'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'}, {text: 'Пациентка 26 лет обратилась с жалобами на неровное положение зубов и наличие молочного клыка. В ходе диагностики выяснилось, что постоянный клык находится в кости верхней челюсти', text2: 'В ходе лечения на прозрачной брекет системе в течении 18 месяцев было нормализовано положение зубов и перекрытие нижних зубов верхними. После снятия фиксирован несъемный ретейнер и изготовленны каппы ночного ношения'} ]

                .work__item
                    .work__beforeAfter.img.beforeAfter-container
                        img(src="../../img/work_1.png" loading="lazy")
                        img(src="../../img/work_2.png" loading="lazy")

                    .work__info
                        .work__box.error
                            .work__label Проблема
                            span=item.text
                        .work__box.succes
                            .work__label Решение
                            span=item.text2

        .section__more
            a.snakeline.arrow(href="#") Смотреть больше решений


// end work
