extends ../../layout/layout.pug

block variable
    -var path = '../../';




block content


    hr
    .container_center
        h2.section__title(style="color:#517DC0") Карточки с изображениями и текстом
        .section__desc  cards_col_2 cards_col_3 cards_col_4 cards_grid
    include ../../sections/cards_col_2.pug
    include ../../sections/cards_col_3.pug
    include ../../sections/cards_col_4.pug
    include ../../sections/cards_grid.pug
    hr
